{% extends "base.html" %}
{% block bootstrap %}vanilla{% endblock %}
{% block the_title %}Dymo USB Scale Webapp{% endblock %}
{% block jumbo_title %}Dymo USB Scale Webapp{% endblock %}
{% block subtitle %}Raspberry Pi + Dymo USB Scale = Open Science Project{% endblock %}
{% block page_content %}

<div class="row">

    <div class="col-md-4">

        <p>Howdy!</p>
        <p>&nbsp;</p>
        <p><a href="/view">View Scale Reading</a></p>
        
    </div><!--div col-->

</div><!--div row-->

{% endblock %}

