{% extends "base.html" %}
{% block bootstrap %}vanilla{% endblock %}
{% block title %}
Dymo USB Scale
{% endblock %}
{% block page_content %}

<script type=text/javascript src="/static/js/DymoUSBScaleView.js">
</script>


<div>
    <form>

        <div class="row">

            <div class="col-md-4">
                <div class="well">

                    <p><a id="start" class="btn btn-lg btn-success" href="javascript:void(0);">Start Reading</a> 

                    <p>&nbsp;</p>

                    <p><a id="start" class="btn btn-lg btn-danger" href="javascript:void(0);">Stop Reading</a> 

                    <p>&nbsp;</p>
                
                </div>
            </div><!--div col-->

            <div class="col-md-4">

                <div class="well">
                    <div class="input-group input-group-lg"> 
                        <input id="current_reading" type="text" class="form-control" readonly> 
                    </div>
                </div>
            </div><!--div col-->

        </div><!--div row-->

    </form>
</div>



{% endblock %}


